<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="mapper.BookMapper">
 	<!-- 查询指定一个 -->
 	<select id="selectBookOne" resultType="book">
 		select * from book where bid=#{bid}
 	</select>
 	
 	<!-- 查询所有  -->
 	<select id="selectBookAll" resultType="book">
 		select * from book
 	</select>
 	
 	<!-- 增加一个 -->
 	<insert id="insertBookOne" parameterType="book">
 		insert into book(bname, author, price) 
 		values(#{bname}, #{author}, #{price})
 	</insert>
 	
 	<!-- 修改一个  -->
 	<update id="updateBookOne" parameterType="book">
 		update book set bname=#{bname}, author=#{author},
 		price=#{price}  where bid=#{bid}
 	</update>
 	
 	<!-- 删除一个 -->
 	<delete id="deleteBookOne">
 		delete from book where bid=#{bid}
 	</delete>
 	
 </mapper>